@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply not-italic box-border tracking-[0.5px];
    font-family: theme('fontFamily.inter');
  }
  a {
    @apply no-underline;
    color: theme('colors.primary');
  }
  html, body {
    @apply m-0 p-0 relative;
  }

  h1, h2, h3, h4, h5, h6, ul, li, p {
    @apply m-0 p-0;
  }
}

@layer components {
}

@layer utilities {
  .public-DraftEditor-content {
    min-height: 500px;
    overflow: auto;
  }

  .topbar_avatar img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .transform_modal {
    transform: translate(-50%, -50%);
  }

  @screen sm {
    .topbar_avatar img {
      width: 33.33px;
      height: 33.33px;
    }
  }
}