DATABASE_NAME=saasgear
DATABASE_HOST=localhost
DATABASE_PASSWORD=admin
DATABASE_USER=root
DATABASE_PORT=3306

DB_HOST_OUTSIZE_DOCKER=localhost
DB_PORT_OUTSIZE_DOCKER=33061 

JWT_SECRET=JWT_SECRET
JWT_ISSUER=JSLANCER
JWT_SUBJECT=JSLANCER
JWT_AUDIENCE=https://jslancer.com
JWT_EXPIRESIN=12h
JWT_ALGORITHM=HS256

SENDGRID_API_KEY=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
MAIL_FROM=tmtzminhtri@gmail.com
FRONTEND_URL=http://localhost:3000/